SECRET_KEY=substitua-por-uma-chave-secreta-forte
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1,web

DB_NAME=room_db
DB_USER=postgres
DB_PASSWORD=sua-senha-aqui
DB_HOST=db
DB_PORT=5432

CORS_ALLOWED_ORIGINS=http://localhost:5173,http://127.0.0.1:5173

SAML_IDP_URL=http://localhost:8080/realms/growup
SAML_ENTITY_ID=growup
SAML_ACS_URL=http://localhost:8000/api/v1/saml/acs/
SAML_X509_CERT=cole-o-certificado-x509-do-keycloak-aqui

FRONTEND_URL=http://localhost:5173

KEYCLOAK_INTERNAL_URL=http://keycloak:8080/realms/growup
KEYCLOAK_JWKS_URL=http://localhost:8080/realms/growup/protocol/openid-connect/certs
KEYCLOAK_JWKS_URL_INTERNAL=http://keycloak:8080/realms/growup/protocol/openid-connect/certs
KEYCLOAK_OIDC_CLIENT_ID=growup-api
KEYCLOAK_OIDC_CLIENT_SECRET=cole-o-client-secret-do-keycloak-aqui
KEYCLOAK_USERS_PASSWORD=senha-padrao-usuarios-teste

CELERY_BROKER_URL=redis://redis:6379/0